/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

body{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 14px;
  color: #f7f7f7;
}

.cardZone{
  border:1px solid #ccc;
  width:400px;
  height:150px;
  margin-left: 400px;
  margin-top: 100px;
  background-color: #3b5998;
  position: relative;
  overflow-y:hidden;
  overflow-x:scroll;
}


.inserdCard {
    position: absolute;
    width: 400px;
    height: 100%;
}
.count {
  margin-right: 35px;
}


.img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 10px;
}

.info {
  margin-left: 45px;
  margin-top: 3px;
}

#img{
  border: 2px solid #f7f7f7;
  border-radius: 5px;
  width: 100%;
}


